@import "tailwindcss";

@theme {
  --color-azul-oscuro: #111827;
  --color-azul-claro: #61A5FA;
  --color-azul-medio: #32435e;
  --color-letra-principal: #B8B9B9;
  --color-letra-secundaria: #B8B9B9;
}